{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Student Worries{% endblock %}

{% block page_content %}
<div class="jumbotron">
    <h1 class="display-4 font_about">Student Worries Blog</h1>
    <h4 class="font_change">is a blog written by students for students.</h4>
</div>
<div>
    <p>If you, as a student, came across some problem or idea, don't hesitate and write about it. Maybe somebody is sharing your worries and is searching for solution? This blog is a place for your posts and your comments. Be kind and helpful. </p>
    <p>Students, who leave their thoughts here, can create and edit own profile account. They can follow and be followed by other users. </p>
    <h2 class="center_about"><span class="name_about">SWBlog</span> is for you!</h2>
</div>
{% endblock %}